<a href="https://colab.research.google.com/github/get-programmed/Python_For_Analysis/blob/main/SQL_in_Python_Ex_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import SQL in Python**

In [19]:
import pandas as pd
import numpy as np
import sqlite3

In [4]:
df = pd.read_csv(r"https://raw.githubusercontent.com/get-programmed/Python_For_Analysis/main/Datasets/Diwali%20Sales%20Data.csv",header=0,encoding='latin1')

In [5]:
cnn = sqlite3.connect('G_lab.db')

In [6]:
table_exists = cnn.execute(f"SELECT name FROM sqlite_master WHERE type='table' AND name='Diwale_sales_1';").fetchone()
if table_exists:
    print("Table 'Diwale_sales_1' already exists.")
else:
    print("Table 'Diwale_sales_1' does not exist.")

Table 'Diwale_sales_1' does not exist.

In [7]:
if table_exists:
    cnn.execute(f"DROP TABLE Diwale_sales_1;")
    print("Table 'Diwale_sales_1' has been dropped.")

In [8]:
df.to_sql('Diwale_sales_1', cnn)

11251

In [9]:
%load_ext sql

In [10]:
%sql sqlite:///G_lab.db

In [11]:
# View Table data
%%sql
SELECT * FROM Diwale_sales_1 LIMIT 10

 * sqlite:///G_lab.db
Done.

[(0, 1002903, 'Sanskriti', 'P00125942', 'F', '26-35', 28, 0, 'Maharashtra', 'Western', 'Healthcare', 'Auto', 1, 23952.0, None, None),
 (1, 1000732, 'Kartik', 'P00110942', 'F', '26-35', 35, 1, 'Andhra\xa0Pradesh', 'Southern', 'Govt', 'Auto', 3, 23934.0, None, None),
 (2, 1001990, 'Bindu', 'P00118542', 'F', '26-35', 35, 1, 'Uttar Pradesh', 'Central', 'Automobile', 'Auto', 3, 23924.0, None, None),
 (3, 1001425, 'Sudevi', 'P00237842', 'M', '0-17', 16, 0, 'Karnataka', 'Southern', 'Construction', 'Auto', 2, 23912.0, None, None),
 (4, 1000588, 'Joni', 'P00057942', 'M', '26-35', 28, 1, 'Gujarat', 'Western', 'Food Processing', 'Auto', 2, 23877.0, None, None),
 (5, 1000588, 'Joni', 'P00057942', 'M', '26-35', 28, 1, 'Himachal Pradesh', 'Northern', 'Food Processing', 'Auto', 1, 23877.0, None, None),
 (6, 1001132, 'Balk', 'P00018042', 'F', '18-25', 25, 1, 'Uttar Pradesh', 'Central', 'Lawyer', 'Auto', 4, 23841.0, None, None),
 (7, 1002092, 'Shivangi', 'P00273442', 'F', '55+', 61, 0, 'Maharashtra', 'Western', 'IT Sector', 'Auto', 1, None, None, None),
 (8, 1003224, 'Kushal', 'P00205642', 'M', '26-35', 35, 0, 'Uttar Pradesh', 'Central', 'Govt', 'Auto', 2, 23809.0, None, None),
 (9, 1003650, 'Ginny', 'P00031142', 'F', '26-35', 26, 1, 'Andhra\xa0Pradesh', 'Southern', 'Media', 'Auto', 4, 23799.99, None, None)]

In [12]:
# Show the Table where Marital_Status is 1
%%sql
SELECT * FROM Diwale_sales_1 WHERE Marital_Status = 1 LIMIT 10

 * sqlite:///G_lab.db
Done.

[(1, 1000732, 'Kartik', 'P00110942', 'F', '26-35', 35, 1, 'Andhra\xa0Pradesh', 'Southern', 'Govt', 'Auto', 3, 23934.0, None, None),
 (2, 1001990, 'Bindu', 'P00118542', 'F', '26-35', 35, 1, 'Uttar Pradesh', 'Central', 'Automobile', 'Auto', 3, 23924.0, None, None),
 (4, 1000588, 'Joni', 'P00057942', 'M', '26-35', 28, 1, 'Gujarat', 'Western', 'Food Processing', 'Auto', 2, 23877.0, None, None),
 (5, 1000588, 'Joni', 'P00057942', 'M', '26-35', 28, 1, 'Himachal Pradesh', 'Northern', 'Food Processing', 'Auto', 1, 23877.0, None, None),
 (6, 1001132, 'Balk', 'P00018042', 'F', '18-25', 25, 1, 'Uttar Pradesh', 'Central', 'Lawyer', 'Auto', 4, 23841.0, None, None),
 (9, 1003650, 'Ginny', 'P00031142', 'F', '26-35', 26, 1, 'Andhra\xa0Pradesh', 'Southern', 'Media', 'Auto', 4, 23799.99, None, None),
 (12, 1004035, 'Elijah', 'P00080342', 'F', '18-25', 20, 1, 'Andhra\xa0Pradesh', 'Southern', 'IT Sector', 'Auto', 2, 23730.0, None, None),
 (13, 1001680, 'Vasudev', 'P00324942', 'M', '26-35', 26, 1, 'Andhra\xa0Pradesh', 'Southern', 'Automobile', 'Auto', 4, 23718.0, None, None),
 (14, 1003858, 'Cano', 'P00293742', 'M', '46-50', 46, 1, 'Madhya Pradesh', 'Central', 'Hospitality', 'Auto', 3, None, None, None),
 (16, 1005447, 'Amy', 'P00275642', 'F', '46-50', 48, 1, 'Andhra\xa0Pradesh', 'Southern', 'IT Sector', 'Auto', 3, None, None, None)]