<a href="https://colab.research.google.com/github/get-programmed/Python_For_Analysis/blob/main/SQL_in_Python/SQL_in_Python_Ex_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL in Python**

## Using basic python query to get SQL

In [ ]:
import pandas as pd
import numpy as np
import sqlite3

In [ ]:
df = pd.read_excel("https://github.com/get-programmed/Python_For_Analysis/blob/main/Datasets/Sales_Data_Ex_1.xlsx?raw=true",engine="openpyxl",header=1)

* This line uses the `read_excel` function from pandas to read the Excel file from the specified URL.
* The `engine` argument specifies the engine to use for reading the file. In this case, we use the `openpyxl` engine.
* The `header` argument specifies the row number to use as the header row. In this case, we use the first row (index 0).

---
---

In [ ]:
df.head()

,Unnamed: 0,Order id,Order Date,Cust ID,Address,Region,Cust Name,Category,Product,Price,Qty,Amount
0,NaN,2.023082e+11,2020-01-01,APS20231,Uttam Nagar - Delhi-110005,East,Rakesh Maheta,Computer,Mouse,210.0,45.0,9450.0
1,NaN,2.023082e+11,2020-01-02,APS20232,"Room No. 322, \nSeva Bhawan, \nHouz Khas-New D...",West,sonu sharma,Electronics,Monitor,4000.0,3.0,12000.0
2,NaN,2.023082e+11,2020-01-03,APS20233,"Room No. 345,Shri Sakti Bhawan\n-Delhi-110014",North,ANIL KUMAR,Art,Printer,3200.0,5.0,16000.0
3,NaN,2.023082e+11,2020-01-06,APS20234,"Narnada Sadan, \nSector B-Delhi-Indore-452010",NaN,ROHIT,Storage,SSD 256 GB,NaN,1.0,NaN
4,NaN,2.023082e+11,2020-01-07,APS20235,"D Block, Flat 126,\nAD Bridge-Bengaluru-560048",NaN,Tinku Singh,Mobiles,HDD 256 GB,1500.0,3.0,4500.0

**As we can see from the above data, it's not cleaned. We'll try to clean it using SQL in Python.**

---
---

## Let's try SQL for cleaning
(In future we'll try to do data cleaning using Pandas)

In [ ]:
cnn = sqlite3.connect('G_lab.db')

The provided code snippet attempts to establish a connection to a SQLite database named `G_lab.db`.

---
---

In [ ]:
table_exists = cnn.execute(f"SELECT name FROM sqlite_master WHERE type='table' AND name='Sales_Data_Ex1';").fetchone()
if table_exists:
    print("Table 'Sales_Data_Ex1' already exists.")
else:
    print("Table 'Sales_Data_Ex1' does not exist.")

Table 'Sales_Data_Ex1' already exists.

This code snippet checks if a table named `Sales_Data_Ex1` exists in the database `cnn`.

* `f"SELECT name FROM sqlite_master WHERE type='table' AND name='Sales_Data_Ex1';"`: This is an SQL query that selects the `name` column from the `sqlite_master` table where the type is `table` and the `name` is `Sales_Data_Ex1`.
* `.fetchone()`: This method fetches the first result from the query.
* `table_exists`: This variable stores the result of the SQL query.
* `if table_exists`: If the query returns a result (i.e., the table exists), this block of code will be executed.
* `else`: If the query does not return a result (i.e., the table does not exist), this block of code will be executed.

---
---

In [ ]:
if table_exists:
    cnn.execute(f"DROP TABLE Sales_Data_Ex1;")
print("Table 'Sales_Data_Ex1' has been dropped.")

Table 'Sales_Data_Ex1' has been dropped.

The letter f in front of the SQL query in Python stands for "formatted string literals". It allows you to embed variables and expressions directly into the string without having to manually concatenate them.

Here's why using f-strings is beneficial:

1. Improved readability
2. Reduced errors
3. Automatic type conversion



```
table_name = "customers"
column_name = "email"
search_term = "%john%"

query = "SELECT * FROM " + table_name + " WHERE " + column_name + " LIKE '" + search_term + "'"
```



```
table_name = "customers"
column_name = "email"
search_term = "%john%"

query = f"SELECT * FROM {table_name} WHERE {column_name} LIKE '{search_term}'"
```

* In the first example without f-strings, we manually concatenate strings and variables using the + operator. This approach is more verbose and error-prone.
* In the second example with f-strings, we use curly braces {} to embed variables and expressions directly into the string. This makes the code more concise and readable.

---
---

In [ ]:
df.to_sql('Sales_Data_Ex1', cnn)

20

The code `df.to_sql('Sales_Data_Ex1', cnn)` writes the DataFrame `df` to a SQL table named `Sales_Data_Ex1` in the database connection `cnn`.

Here's a breakdown of what the code does:

* `df.to_sql`: This method of the Pandas DataFrame object is used to write the DataFrame to a SQL database.

* `'Sales_Data_Ex1'`: This is the name of the table in the database where the DataFrame will be written.

* `cnn`: This is the database connection object that represents the connection to the database.

---
---

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

The `%load_ext` sql magic command in Google Colab allows you to load the SQL extension for Jupyter notebooks. This extension provides convenient features for working with SQL databases directly within your notebook.

Here's what the command does:

1. Loads the SQL extension

2. Connects to the database

---
---

In [ ]:
%sql sqlite:///G_lab.db

The code `%sql sqlite:///G_lab.db` in Google Colab establishes a connection to a SQLite database named `G_lab.db`.

Here's a breakdown of what the code does:

1. `%sql`: This magic command is used to interact with SQL databases within Jupyter notebooks.

2. `sqlite:///G_lab.db`: This is the connection string that specifies the type of database (SQLite) and the path to the database file `(G_lab.db)`.

Explanation:

The `%sql` magic command loads the SQL extension in Colab, if it is not already loaded.
The connection string `sqlite:///G_lab.db` tells Colab to connect to a SQLite database file named `G_lab.db` that is located in the current working directory.
Once the connection is established, you can execute SQL queries directly within your notebook cells using the `%%sql` magic command.

---
---

In [ ]:
# View Table data
# %%sql: This magic command is used to execute SQL queries directly within Jupyter notebook cells.
%%sql
SELECT * FROM Sales_Data_Ex1 LIMIT 5

 * sqlite:///G_lab.db
Done.

[(0, None, 202308241001.0, '2020-01-01 00:00:00', 'APS20231', 'Uttam Nagar - Delhi-110005', 'East', 'Rakesh Maheta', 'Computer', 'Mouse', 210.0, 45.0, 9450.0),
 (1, None, 202308241002.0, '2020-01-02 00:00:00', 'APS20232', 'Room No. 322, \nSeva Bhawan, \nHouz Khas-New Delhi-110016', 'West', 'sonu sharma', 'Electronics', '  Monitor', 4000.0, 3.0, 12000.0),
 (2, None, 202308241003.0, '2020-01-03 00:00:00', 'APS20233', 'Room No. 345,Shri Sakti Bhawan\n-Delhi-110014', 'North', 'ANIL KUMAR', 'Art', 'Printer', 3200.0, 5.0, 16000.0),
 (3, None, 202308241004.0, '2020-01-06 00:00:00', 'APS20234', 'Narnada Sadan, \nSector B-Delhi-Indore-452010', None, 'ROHIT', 'Storage', 'SSD     256 GB', None, 1.0, None),
 (4, None, 202308241005.0, '2020-01-07 00:00:00', 'APS20235', 'D Block, Flat 126,\nAD Bridge-Bengaluru-560048', None, 'Tinku Singh', 'Mobiles', ' HDD 256 GB', 1500.0, 3.0, 4500.0)]

In [ ]:
df.drop(df.columns[0], axis = 1, inplace = True)

df

,Order Date,Cust ID,Address,Region,Cust Name,Category,Product,Price,Qty,Amount
0,2020-01-01,APS20231,Uttam Nagar - Delhi-110005,East,Rakesh Maheta,Computer,Mouse,210.0,45.00,9450.0
1,2020-01-02,APS20232,"Room No. 322, \nSeva Bhawan, \nHouz Khas-New D...",West,sonu sharma,Electronics,Monitor,4000.0,3.00,12000.0
2,2020-01-03,APS20233,"Room No. 345,Shri Sakti Bhawan\n-Delhi-110014",North,ANIL KUMAR,Art,Printer,3200.0,5.00,16000.0
3,2020-01-06,APS20234,"Narnada Sadan, \nSector B-Delhi-Indore-452010",NaN,ROHIT,Storage,SSD 256 GB,NaN,1.00,NaN
4,2020-01-07,APS20235,"D Block, Flat 126,\nAD Bridge-Bengaluru-560048",NaN,Tinku Singh,Mobiles,HDD 256 GB,1500.0,3.00,4500.0
5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2020-01-09,APS20238,"E/6F, Maruthi, Street No. 3-Hyderabad-500039",East,raksingh,Computer,Monitor,4000.0,4.00,16000.0
8,2020-01-10,APS20239,"Mayor Road, \nKCM School-Chennai-600001",West,suresh,Computer,Printer,3200.0,1.00,3200.0
9,2020-01-11,APS20240,Uttam Nagar-Delhi-110005,North,NEELAM,Computer,Scanner,NaN,5.00,NaN
10,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2020-01-12,APS20242,"Room No. 3,Shri Sakti Bhawan\n-Delhi-110014",West,Sunita kumari,Computer,Keyboard,190.0,1.00,190.0
13,2020-01-13,APS20243,"B Block, Flat 16,\nAD Bridge-Bengaluru-560048",NaN,vijay singh,Computer,SSD 256 GB,4000.0,6.00,24000.0
14,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2020-01-14,APS20244,"Room No. 322, \nSeva Bhawan, \nHouz Khas-New D...",South,amandeep,Computer,HDD 256 GB,NaN,6.00,NaN
16,2020-01-15,APS20245,"Room No. 345,Shri Sakti Bhawan\n-Delhi-110014",NaN,harvinder,Computer,Mouse,210.0,6.00,1260.0
17,2020-01-12,APS20242,"Room No. 3,Shri Sakti Bhawan\n-Delhi-110015",West,Sunita kumari,Computer,Keyboard,7810.0,7.75,60527.5
18,2020-01-13,APS20243,"B Block, Flat 16,\nAD Bridge-Bengaluru-560049",NaN,vijay singh,Computer,SSD 256 GB,11620.0,8.75,101675.0
19,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.75,NaN